ersMattiaDesktopdatabaseapp'; & 'CUsersMattia.vscodeextensionsredhat.java-1.20.0-win32-x64jre17.0.7-win32-x86_64binjava.exe' '@CUsersMattiaAppDataLocalTempcp_3vz6aat0v0n3sujtx9s1q195h.argfile' 'db.fastfood.App' 
DB-FastFood/app/bin/main/db/fastfood/api/Manager/Manager.class
DB-FastFood/app/bin/main/db/fastfood/Impl/Manager/ManagerImpl.class
DB-FastFood/app/bin/main/db/fastfood/view/ViewSchermataManager.class
ersMattiaDesktopdatabaseapp'; & 'CUsersMattia.vscodeextensionsredhat.java-1.20.0-win32-x64jre17.0.7-win32-x86_64binjava.exe' '@CUsersMattiaAppDataLocalTempcp_3vz6aat0v0n3sujtx9s1q195h.argfile' 'db.fastfood.App' 
.vscode/*